<br><br>
<strong>Важно!</strong> В текущей реализации плагина фильтрация по наличию не работает (ни на уровне катенории, ни при этой настройке).<br><br>
<span class="highlighted">
    Чтобы включить такую фильтрацию, нужен хук <code>products_collection.filter</code><br>
    Подробное описание доступно по ссылке:<br>
    <a href="https://support.webasyst.ru/25105/dobavit-khuk-products_collectionfilter/" target="_blank">https://support.webasyst.ru/25105/dobavit-khuk-products_collectionfilter/</a><br>
    Голосуйте за пост, если вам нужна такая функциональность.
</span>
<br><br>